<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/category">
      <ion-icon name="chevron-back-outline"></ion-icon> Back
    </ion-buttons>
    <ion-title>Add Cat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add Cat</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>


    <form #f="ngForm" (ngSubmit)="onAdd(f.value)">
      <ion-item>
        <ion-label position="floating">Nom::</ion-label>
        <ion-input ngModel name="name" placeholder="Enter name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Icon:</ion-label>
        <ion-input ngModel name="icon" type="text" placeholder="Enter icon"></ion-input>
      </ion-item>
      <ion-button type="submit" class="ion-margin-top" expand="block" color="dark" [disabled]="false">
        <ion-icon slot="start" name="create-outline"></ion-icon>
        Ajouter
      </ion-button>

    </form>
  </ion-list>


</ion-content>